<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<!-- the above defines this as an Angular app -->

<head>
    <meta charset="UTF-8">
    <title>Assessment 1 - User Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <!-- Your own CSS comes after -->
    <!-- <link rel="stylesheet" href="app/css/mystyle.css" /> -->
</head>

<body ng-controller="MyReg as ctrl">


<div class="container">
    <div class="page-header">
        <h1>User Registration</h1>
    </div>
    <form name="signupForm" novalidate ng-submit="signupForm.$valid && ctrl.signup()">


        <div class="form-group required">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email"
                   class="form-control" ng-model="ctrl.User.email" required>
            <div class="validation alert-danger" data-ng-show="signupForm.email.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert"> email is mandatory</span>
                </div>
                <div data-ng-show="signupForm.email.$error.email">
                    <span class="glyphicon glyphicon-alert"> Invalid email address</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="password">Password: </label>
            <input type="text" id="password" name="password"
                   class="form-control" ng-model="ctrl.User.password" ng-minlength="8" ng-maxlength="20" required>
            <div class="validation alert-danger" data-ng-show="signupForm.password.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.password.$error.required">
                    <span class="glyphicon glyphicon-alert"> Password is mandatory</span>
                </div>
                <div data-ng-show="signupForm.password.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Password must be at least 8 characters</span>
                </div>
                <div data-ng-show="signupForm.password.$error.maxlength">
                    <span class="glyphicon glyphicon-alert"> Password cannot exceed 20 characters</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="username">Name: </label>
            <input type="text" id="username" name="username"
                   class="form-control" ng-model="ctrl.User.username" ng-minlength="5" ng-maxlength="20" required>
            <div class="validation alert-danger" data-ng-show="signupForm.username.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.username.$error.required">
                    <span class="glyphicon glyphicon-alert"> Name is mandatory</span>
                </div>
                <div data-ng-show="signupForm.username.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Name must be at least 5 characters</span>
                </div>
                <div data-ng-show="signupForm.username.$error.maxlength">
                    <span class="glyphicon glyphicon-alert"> Name cannot exceed 20 characters</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label>Gender:</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.User.gender" value="Male">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.User.gender" value="Female">Female
                </label>
            </div>
        </div>

        <div class="form-group required">
            <label for="dob">Date of birth: <br><small>(No later than the default date)</small> </label>
            <input type="date" id="dob" name="dob"
                   class="form-control" ng-model="ctrl.User.dateOfBirth" required>
            <div class="validation alert-danger" data-ng-show="signupForm.dob.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.dob.$error.required">
                    <span class="glyphicon glyphicon-alert"> Date of Birth is mandatory</span>
                </div>
                <div data-ng-show="signupForm.dob.$invalid">
                    <span class="glyphicon glyphicon-alert"> Invalid date of birth</span>
                </div>
                <div data-ng-hide="ctrl.isAgeValid()">
                    <span class="glyphicon glyphicon-alert"> You must be at least 18 years old to register!</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="address">Address: </label>
            <input type="text" id="address" name="address"
                   class="form-control" ng-model="ctrl.User.address" ng-minlength="8" ng-maxlength="20" required>
            <div class="validation alert-danger" data-ng-show="signupForm.address.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.address.$error.required">
                    <span class="glyphicon glyphicon-alert"> Address is mandatory</span>
                </div>
                <div data-ng-show="signupForm.address.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Address must be at least 8 characters</span>
                </div>
                <div data-ng-show="signupForm.address.$error.maxlength">
                    <span class="glyphicon glyphicon-alert"> Name cannot exceed 20 characters</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="country">Country: </label>
            <input type="text" id="country" name="country"
                   class="form-control" ng-model="ctrl.User.country" ng-minlength="3" ng-maxlength="20" required>
            <div class="validation alert-danger" data-ng-show="signupForm.country.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.country.$error.required">
                    <span class="glyphicon glyphicon-alert"> Country is mandatory</span>
                </div>
                <div data-ng-show="signupForm.country.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Country must be at least 3 characters</span>
                </div>
                <div data-ng-show="signupForm.country.$error.maxlength">
                    <span class="glyphicon glyphicon-alert"> Country cannot exceed 20 characters</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            <label for="contact">Contact Number: <br><small>(Enter only numbers with no space or special characters)</small></label>
            <input type="text" id="contact" name="contact"
                   class="form-control" ng-model="ctrl.User.contact" ng-minlength="8" ng-maxlength="20" ng-pattern="ctrl.phoneNumbr" required>
            <div class="validation alert-danger" data-ng-show="signupForm.contact.$touched || signupForm.$submitted">
                <div data-ng-show="signupForm.contact.$error.required">
                    <span class="glyphicon glyphicon-alert"> Contact Number is mandatory</span>
                </div>
                <div data-ng-show="signupForm.contact.$error.minlength">
                    <span class="glyphicon glyphicon-alert"> Contact Number must be at least 8 characters</span>
                </div>
                <div data-ng-show="signupForm.contact.$error.maxlength">
                    <span class="glyphicon glyphicon-alert"> Contact Number cannot exceed 10 characters</span>
                </div>
                <div data-ng-hide="ctrl.isContactValid()" >
                    <span class="glyphicon glyphicon-alert"> Please enter a valid number</span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <button type="submit" class="btn-success form-control" ng-disabled="!signupForm.$valid">Sign Up</button>

        </div>
    </form>
</div>


</body>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Your own script comes after -->
<script src="app/app.js"></script>
<script src="app/js/reg.controller.js"></script>

</html>